@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
  --Red: #BF2C38;
  --White: #FFFAFF;
  --Black: #2f3640;
  --LigthRed: #BF7A80;
  --Font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
  width: 10px;     
  height: 8px;     
}

html::-webkit-scrollbar-thumb {
  background-color: var(--Red);
  border-radius: 4px;
}

.title{
  text-align: center;
  padding: 20px;
}

.products{
  width: 60%;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black;
}

.btn{
  border: none;
  cursor: pointer;
  background-color: var(--Red);
  color: var(--White);
  border-radius: 8px;
  font-family: var(--Font);
  font-weight: 300;
  font-size: 20px;
}